<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ name }}!
  </h1>
  <!-- <input type="text" [value] = 'name' (input) = 'name = $event.target.value' placeholder="name">
  <input type="text" #tval (input) = 'tval'>
  <input type="text" #tvar (input) = 'name = tvar.value'>
  <input type="text" [style.background-color] = 'color' #tvar1 (keyup) = 'changeColor(tvar1.value)'placeholder='changecolor'>
  <input type="text" (keyup.enter) = 'name = $event.target.value'>
  <input type="text" (blur) = 'name = $event.target.value'(keyup.enter) = 'name = $event.target.value'>
  <input type="text" [(ngModel)] = 'name'>
  <input type="text" [ngModel] = 'name' (ngModelChange) = 'name'>
  <button (click) = 'changeColor()' >toggle </button>
  <select (change) = 'changeColor($event.target)'>
    <option id = 'test'>Red</option>
    <option>Green</option>
    <option>orange</option>
  </select>
  <p [style.background-color] = 'color'>{{name}}</p>
  <p>{{tval.value}}</p> -->
  <!-- <app-customerscomponent></app-customerscomponent> -->
  <!-- <router-outlet></router-outlet> -->
  <app-customerscomponent></app-customerscomponent>
</div>
